

.headerimage {
    /*background-image: url(../images/orange-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #81b1c9;
    height: 80px;
}

.menu {
    background-color: #55859f;
    left: -285px;  /* This starts the menu off to the left */
    height: 100%;
    position: fixed;
    width: 285px;
}

.menu icon-close {
    cursor: pointer;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-top: 12px;
    border-bottom: 1px solid black;
}

.menu a {
    margin: 10px;
    font-size: 24px;
    font-family: 'Open Sans' sans-serif;
    color: whitesmoke;
    text-transform: capitalize;
}   

.menu a:hover {
    color: whitesmoke;
    text-decoration: none;
}

.menu a:visited {
    color: whitesmoke;
    text-decoration: none;
}
        
.menu ul {
    border-top: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-top: 12px;
}

.icon-menu {
    color: black;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.main-body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}