.nav {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 20px black;
}

.menu {
    position: absolute;
    top: 25%;
    bottom: 0;
    margin: 8px;
    margin-left: 50px;
}

.menu a {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav a:hover {
    text-decoration: none;
    color: dimgray;
}

.nav a:visited {
    text-decoration: none;
}

.slider {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 470px;
    border-bottom: 1px solid #ddd;
}

.slide {
    background-image: url("../images/gradiantbg.jpg");
    background-size: cover;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.active-slide {
    display: block;
}

.slide-text {
    margin-top: 150px;
    color: #1f1f1f;
}

.slide-text h1 {
    font-weight: bold
}

.slide-img {
    text-align: right;
}

.slider-nav {
    position: relative;
    text-align: center;
    top: 60px;
    margin-top: 10px;
}

.arrow-prev {
    margin-right: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}

.arrow-next {
    margin-left: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
}

.slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}

.slider-dots li {
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
}

.slider-dots li.active-dot {
    color: #363636;
}

.slide-text a {
    color: azure;
}

.slide-text button {
    color: #1f1f1f;
    background-color: #ECE5CE
}

.intro {
    background-color: ##efefef;
    border-bottom: 1px solid #dbdbdb
}

.thumbnail {
    border: groove 4px;
    padding: 0px;
}

.intro h2 {
    font-family: 'Ariel' sans-serif;
    font-weight: bold;
}

body {
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
}