#sitenav {
    height: 105px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: #111113;
    z-index: 100;
    -webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);
}

#sitenav #logo {
    height: 60px;
    position: absolute;
    top: 0;
    bottom:0;
    margin: 5px;
    margin-left: 80px;
}

#menu {
    position: absolute;
    width: 550px;
    margin-left: 730px;
    margin-top: 21px;
    font-size: 18px;
}

/* with class=col-md-3
#menu a:link, a:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #54545f;
    text-align: center;
}

#menu a:visited {
    color: #c1c1f0;
}

#menu a:hover, a:active {
    color: #54545f;
}
*/

#bar {
    margin-left: 50px;
    margin-top: 60px;
}

#bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#bar li {
    float: left;
}

#bar li a {
    display: block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #c1c1f0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#bar .glyphicon {
    font-size: 12px;
}

#bar li a:hover {
    color: #54545f;
    background-color: #eaeafa;
    cursor: pointer;
}

#bar a:link, a:visited {
    text-decoration: none;
}

#bar .dropdown {
    display: none;
    position: absolute;
    background-color: #111113;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#bar .products:hover .dropdown{
    display: block;
}



/* ~~~~~~~~~~~~~~ Web Body ~~~~~~~~~~~~~~ */

/* General Style for .content's */
.content {
    background-color: #303030;
}

.content h1 {
    font-size: 40px;
    color: #D6D6D6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.content h2 {
    font-size: 32px;
    color: #D6D6D6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.content p {
    font-size: 16px;
    color: #D6D6D6;
    font-family: 'Open Sans', sans-serif;
}

h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    color:#084A75;
}

/* First stellar bg */
#wall_1 {
    background: url(../img/test.jpg);
    background-attachment: fixed;
    height: 675px;
}

#content_1 {
    height: 600px;
}

#wall_2 {
    background: url(../img/test2.jpg) repeat;
    background-attachment: fixed;
    height: 500px;
}

#content_2 {
    height: 600px;
}

#wall_3 {
    background: url(../img/test3.jpg) repeat;
    background-attachment: fixed;
    height: 500px;
}

/*
.image h3 {
    font-family: "Wellfleet";
    font-size: 36px;
    color: #99a3a3;
    position: absolute;
    top: 70%;
}

.image a {
    font-family: "Wellfleet";
    font-size: 36px;
    position: relative;
    top: 35%;
}
*/
