#nav {
    height: 70px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: #DCDCDC;
    z-index: 100;
    -webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);
}

#nav #logo {
    position: absolute;
    top: 0;
    bottom:0;
    margin: 5px;
    margin-left: 110px;
}

#menu {
    position: absolute;
    width: 550px;
    margin-left: 730px;
    margin-top: 21px;
    font-size: 18px;
}

#menu a:link, a:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #1a1a1a;
}

#menu a:hover {
    color: black;
}

body {
    margin-right: -50px;
}

/* General Style for .content's */
.content {
    background-color: #303030;
}

.content h1 {
    font-size: 40px;
    color: #D6D6D6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 30px;
}

.content p {
    font-size: 20px;
    line-height: 200%;
    color: #D6D6D6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 60px;
    margin-bottom: 30px;
}

h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    color:#084A75;
}

/* First stellar bg */
#wall_1 {
    background: url(../img/test.jpg);
    background-attachment: fixed;
    height: 700px;
}

#content_1 {
    height: 400px;
}

#wall_2 {
    background: url(../img/test2.jpg) repeat;
    background-attachment: fixed;
    height: 500px;
}

#content_2 {
    height: 600px;
}

#wall_3 {
    background: url(../img/test3.jpg) repeat;
    background-attachment: fixed;
    height: 500px;
}

/*
.image h3 {
    font-family: "Wellfleet";
    font-size: 36px;
    color: #99a3a3;
    position: absolute;
    top: 70%;
}

.image a {
    font-family: "Wellfleet";
    font-size: 36px;
    position: relative;
    top: 35%;
}
*/
